body {
	background-color: #222;
	color: #fff;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#timeline {

}

.timeline-unit {

}

.photo {

}

.user-thumbnail {

}

.user-thumbnail img {

}

.username {

}

.hashtag {

}

.metrics {

}

.photo img {

}

.photo img:after, .user-thumbnail img:after {

}

.user {

}